<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title></title>
	<%= ext_css_include_tag %>
	<%= css_include_tag '../viewer/info.css' %>
	<%= css_include_tag 'nifty-base.css',
	 										'nifty/widgets/nifty_panel.css',
											'nifty/widgets/nifty_tab_panel.css',
											'nifty/widgets/nifty_field_panel.css',
											'nifty/widgets/nifty_field_instance.css',
											'nifty/widgets/nifty_fieldlet.css',
											'nifty/widgets/string_fieldlet.css'
											
	 %>

</head>
<body>
	<div id="loading-mask" style=""></div>
	<div id="loading">
	<div class="loading-indicator">
		<img src="/ext/resources/images/default/shared/blue-loading.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/>
			<span id="loading_status">Loading...</span>
		</div>
	</div>
	
	<div id="header">
		<h1 id="app-name">Loading...</h1>
	</div>
	<div id="content">
		<div id="page_loading">Loading...</div>
		<form id="form" action="javascript:false;">
				<div id="side"></div>
				<div id="main"></div>
		</form>
	</div>	
	
	<%= js_include_tag('../ext/ext-base', "../ext/ext-all.js", :bundle => 'ext') %>
  <%= js_include_tag('../viewer/info')%>	
	<%= js_include_tag	'nifty/core',
											'nifty/router',
											'nifty/schema',
											'nifty/data/entity_store',
											'nifty/data/search',
											'nifty/data/simple_reader',
											'nifty/data/field_store',
											'nifty/data/entity_store_proxy',
											'nifty/widgets/form_group',											
											'nifty/widgets/info_bar',
											'nifty/widgets/nifty_main_panel',
											'nifty/widgets/nifty_side_panel',
											'nifty/widgets/entity_panel',
											'nifty/widgets/field',
											'nifty/widgets/page',
											'nifty/widgets/entity_page',
											'nifty/widgets/fieldlet',
											'nifty/fieldlets/string_fieldlet',										
											'nifty/fieldlets/link_fieldlet',
											'nifty/fieldlets/text_fieldlet',
											'nifty/widgets/new_entity_button',
											#'nifty/generated',
											'nifty/entity_loader',
											'nifty/init',
														  :bundle => 'nifty' %>

</body>
</html>
